
<header>
    <i class="fas fa-user"></i>
    <h1>Users</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <span>{{ app.user.prenom | lower | capitalize }} {{ app.user.nom | upper }} ({{ app.user.email }})</span>
    {% endif %}
</header>